@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Users</h2>

<p>
    <a asp-action="Create">Create New User</a>
</p>
<form action="" method="get" class="form-inline">
    <input type="type" class="form-control" name="term" value="" placeholder="Search term..."/>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>