@model ubtnews.Models.Article
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>

<div class="card mb-4">
    <img class="card-img-top" src="~/images/@Model.Img" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">@Model.Title</h2>
        <p class="card-text">@Model.Body</p>
       
    </div>
    <div class="card-footer text-muted">
        Posted on @Model.CreatedAt.ToString("dddd, dd MMMM yyyy") at  @Model.CreatedAt.ToString("hh:mm tt")
        <a href="#"></a>
    </div>
</div>
<a href="/Home" >Back to Home</a>